.heading{
    font-size:20px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px lightseagreen;
}
.NOTE{
    font-size: 18px;
    color:lime;
}
.footer{
    bottom:0;
    position: fixed;
    text-align: center;
    width:100%;
    background-color: aqua;
    color: blue;
    line-height:2;
}
canvas{
    border:5px dashed blue;
    border-radius: 10px;
    box-shadow: 5px 5px 5px aqua;
}